<div class="font-bold text-2xl">Edit New Movie</div>

<form class=" mt-5">

    <input type="text" class="addmovie mb-4 h-16 w-3/5 bg-gray-300 pl-10 rounded-xl border-solid border-black" placeholder="Enter Movie Tittle" />
    <input type="text" class="addmovie mb-4 h-16 w-3/5 bg-gray-300 pl-10 rounded-xl border-solid border-black" placeholder="Release Year:DDD/MM/YYYY" />
    <input type="text" class="addmovie mb-4 h-16 w-3/5 bg-gray-300 pl-10 rounded-xl border-solid border-black" placeholder="Category" />

    <button class="w-96 mt-4 rounded-md bg-blue-700 h-16 flex justify-center items-center text-white">save</button>

</form>