<Stage>
    <div class="font-bold text-2xl">Edit New Movie</div>
    <form class=" mt-5" [formGroup]="editmovie">

        <input type="text" class="addmovie mb-4 h-16 w-3/5 bg-gray-300 pl-10 rounded-xl border-solid border-black" placeholder={{this.name}} formControlName="name" />
        <input type="text" class="addmovie mb-4 h-16 w-3/5 bg-gray-300 pl-10 rounded-xl border-solid border-black" placeholder={{this.released}} formControlName="released" />
        <input type="text" class="addmovie mb-4 h-16 w-3/5 bg-gray-300 pl-10 rounded-xl border-solid border-black" placeholder={{this.genre}} formControlName="category" />

        <button class="w-96 mt-4 rounded-md bg-blue-700 h-16 flex justify-center items-center text-white" (click)="save()">save</button>

    </form>
</Stage>