<Stage>
    <div class="font-bold text-2xl">
        Add New Movie</div>

    <form class=" mt-5" [formGroup]="addmovie">

        <input type="text" class="addmovie mb-4 h-16 w-3/5 bg-gray-300 pl-10 rounded-xl border-solid border-black" placeholder="Enter Movie Tittle" formControlName="name" required/>
        <input type="text" class="addmovie mb-4 h-16 w-3/5 bg-gray-300 pl-10 rounded-xl border-solid border-black" placeholder="Release Year:DDD/MM/YYYY" formControlName="released" required/>
        <input type="text" class="addmovie mb-4 h-16 w-3/5 bg-gray-300 pl-10 rounded-xl border-solid border-black" placeholder="Category" formControlName='category' required/>
        <div class="flex w-3/5 justify-between">
            <button class="w-96 mt-4 rounded-md bg-blue-700 h-16 flex justify-center items-center text-white" type="submit" (click)="onSubmit()">save</button>
            <button class="w-52 mt-4 rounded-md bg-gray-300 h-16 flex justify-center items-center text-black" (click)="cancel()">cancel</button>

        </div>
    </form>
</Stage>