<div [ngClass]="state ? 'hidden':''" class="flex h-16 bg-slate-200 items-center justify-around m-5">
    <div class="w-20">No.{{this.id}}</div>
    <div class="w-80">{{this.Tittle}}</div>
    <div class="w-32">{{this.Date}}</div>
    <div class="w-14">{{this.Gerne}}</div>
    <a [routerLink]="['/editmovie',this.id]"><span class="material-symbols-outlined w-9 cursor-pointer">edit_calendar</span></a>
    <span class="material-symbols-outlined w-9 cursor-pointer" (click)="deleteMovie()">delete</span>
</div>